body {
    background-color: white;
    background-image: url("https://farm7.staticflickr.com/6044/6875872536_0b6d9e25f8_h.jpg");
    color: black;
    margin-left: 20px;
    text-align: justify;
    font-size: 100%;
    font-family: "Times New Roman", Georgia, Serif;
    }


/
/*
<!--
<table "style="width:100%">
 <tr><td>
 <a data-flickr-embed="true"  href="https://www.flickr.com/photos/tof2006/6875872536/in/photolist-ahLba7-ahHrcH-ag4448-bGvaNF-bGvp7B-bGvhhF-bGvmaK-btAFSj-btAF8Q-btADmu-btAydN-btApof-btAq1S-btACv3-bGvcSi-bGvbZr-bGvgqi-bGvktn-btAqQQ-btAn7s-btAxAN-btAukQ-btAEiy-ahHrrT-ag41fP-ahLdQd-ahLeiQ-ahLe5j-ag6Snm-ahHpX8-ahHp8i-ahHoEr-adoDj1-adkXKx-cT8GEN-cT8B1d-cT8v9y-cT8ozA-cT8hxm-cT7Xab-cT84qf-cT8aXy-cT7QAW-5PQvJh-55khCC-55g5FX-PoQV6-jd13K-jd14E-jd12U" title="IMG_1105"><img src="https://farm7.staticflickr.com/6044/6875872536_0b6d9e25f8_h.jpg" alt="Surfer greets">
 </a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
 </tr></td>
</table>
-->
*/

h1 {
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 200%;
    font-family: "Times New Roman", Georgia, Serif;
}

h2 {
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: underline;
    font-size: 150%;
    font-family: "Times New Roman", Georgia, Serif;
}

p {
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 100%;
    font-family: "Times New Roman", Georgia, Serif;
}

.instapic {
    width: 612;
    height: 612;
}

/* resize images */
.instapic img {
    width: auto;
    height: auto;
}

img {
   width:auto
   height:auto
   }
