Title: Curriculum Vitae

<div class="cv-menu">
  <!-- Career Profile -->
{% include cv-menu.html %}
</div>

<div class="cv-section">
  <!-- Career Profile -->
{% include cv-profile.html %}
</div>

<div class="cv-section">
  <!-- Experiences and Education -->
{% include cv-timeline.html %}
</div>

<div class="cv-section">
  <!-- Skills -->
{% include cv-skills.html %}
</div>

<div class="cv-section">
  <!-- Projects -->
{% include cv-portfolio.html %}
</div>

<div class="cv-section">
  <!-- contact -->
{% include cv-contact.html %}
</div>
